.table{
    margin-top: 20px;
}
.logout{
    text-align: right;
}
.container h2{
    display: inline-block;
    width: 80%;
}
#balance{
    text-align: right;
    margin: 20px;
}
.error{
    color: red;
}
.container{
    margin-top: 20px;
}
.wedding_info{
    width: 35%;
    display: inline-block;
    vertical-align: top;
}
.wedding_location{
    width: 60%;
    height: 35%;
    display: inline-block;
}